.sideEditor {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #F1FEC6;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 30px;
    padding-left: 30px;
}
#map {
    height: 80%;
    width: 80%
  }

.mapEditor {
    height: 80%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    bottom: 0;
    background-color: #F1FEC6;
    overflow: hidden;
    transition: 0.5s;
    padding-top: 30px;
    padding-right: 30px;
    border: 0;
}

#locationMapDisplay {
    display: block;
    transition: 0.5s;
}

#description {
    width: 460px;
    height: 200px;
}
#location {
    width: 400px;
}

#placeEditor {
    display: block;
    transition: 0.5s;
}

.closeButton {
    color: black;
    text-decoration: none;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 40px;
    padding-top: 30px;
    padding-left: 30px;
    font-size: 50px;
}

#results, td {
    border: 2px solid rgb(34, 32, 32);
    text-align: left;
}th {
    height: 50px;
    text-align: left;
}
table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}
tr:hover {background-color: #B6D6CC;}
tr:nth-child(even) {background-color: #f2f2f2;}

.header {
    text-align: center;
    font-size: 20px;
    background-color: #74A4BC;
    border: 5px solid #2c05b9;
    margin-bottom: 20spx;
}

.footer {
    bottom:0;
    width:100%;
    height:20px;
    text-align: center;
    background-color: #2c05b9;
    border: 3px solid #B6D6CC;
    padding-top: 25px;
    padding-bottom: 25px;
}

a.button6{
    display:inline-block;
    padding:0.7em 1.4em;
    margin:0 0.3em 0.3em 0;
    border-radius:0.15em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    text-transform:uppercase;
    font-weight:400;
    color:#FFFFFF;
    background-color:#3369ff;
    box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
    text-align:center;
    position:relative;
}
a.button6:active{
    top:0.1em;
}
@media all and (max-width:30em){
 a.button6{
display:block;
margin:0.4em auto;
    }
}
a.button5{
    display:inline-block;
    padding:0.7em 1.4em;
    margin:0 0.3em 0.3em 0;
    border-radius:0.15em;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:100;
    color:#FFFFFF;
    background-color:#3369ff;
    box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
    text-align:center;
    position:relative;
    height: 10px;
}
a.button5:active{
    top:0.1em;
}
@media all and (max-width:10em){
 a.button5{
display:block;
margin:0.4em auto;
    }
}



  #description {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
  }

  #infowindow-content .title {
    font-weight: bold;
  }

  #infowindow-content {
    display: none;
  }

  #map #infowindow-content {
    display: inline;
  }

  .pac-card {
    margin: 10px 10px 0 0;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    font-family: Roboto;
  }

  #pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
  }

  .pac-controls {
    display: inline-block;
    padding: 5px 11px;
  }

  .pac-controls label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
  }

  #pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
  }

  #pac-input:focus {
    border-color: #4d90fe;
  }

  #title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
  }
  #target {
    width: 345px;
  }
