.sideEditor {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: F1FEC6;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 30px;
    padding-left: 30px;
}

#description {
    width: 500px;
    height: 500px;
}

#placeEditor {
    display: block;
    transition: 0.5s;
}

.closeButton {
    color: black;
    text-decoration: none;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 40px;
    padding-top: 30px;
    padding-left: 30px;
    font-size: 50px;
}

#results, td {
    border: 2px solid rgb(34, 32, 32);
    text-align: left;
}th {
    height: 50px;
    text-align: left;
}
table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}
tr:hover {background-color: #f5f5f5;}
tr:nth-child(even) {background-color: #f2f2f2;}

.header {
    text-align: center;
    font-size: 20px;
    background-color: #74A4BC;
    border: 5px solid #2c05b9;
    margin-bottom: 20spx;
}

.footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:10px;
    text-align: center;
    background-color: #2c05b9;
    border: 3px solid #B6D6CC;
    padding-top: 25px;
    padding-bottom: 25px;
}
